Django==4.2.14
django-tables2==2.5.2
django-extensions==3.2.1
django-filter==22.1
django-crispy-forms==1.14.0
django-spurl==0.6.8
biopython==1.80
psutil==5.9.4
mysqlclient==2.1.1
pandas==1.5.3
tablib==3.3.0
django-autocomplete-light==3.9.4
rpy2==3.5.2
django-secrets==1.2.4
regex~=2.5.116
